@import 'primeicons/primeicons.css';

@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.p-dark, .p-dark *));

@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}
